<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test name="Annotations">
      <classes>
          <class name="TestCaseII">
              <methods>
                  <include name="start"/>
                  <include name="news"/>
              </methods>
          </class>
          <class name="TlinkedWithTestCaseII">
              <methods>
                  <include name="Try"/>
                  <include name="AgainTry"/>
              </methods>
          </class>
      </classes>
  </test>
</suite>